In [1]:
#Set up pandas
import pandas as pd

#file path to read in resource data
file_path = "../Resources/purchase_data.csv"

#creating a dataframe from the CSV
hero_df = pd.read_csv(file_path)
hero_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

Player Count

In [2]:
player_count = len(hero_df["SN"].unique())
player_count_df = pd.DataFrame({"Player Count" : [player_count]})
player_count_df

   Player Count
0           576

Purchasing Analysis

- Number of Unique Items

- Average Purchase Price

- Total Number of Purchases

- Total Revenue

In [3]:
items_unique = len(hero_df["Item ID"].unique())
ave_purchase = hero_df["Price"].mean()
count_purchase = hero_df["Price"].count()
sum_purchase = hero_df["Price"].sum()
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items" : [items_unique], 
                                       "Average Purchase Price" : ave_purchase,
                                       "Number of Purchases" : count_purchase,
                                       "Total Revenue" : sum_purchase})
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

Gender Demographics

- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [18]:
gender_df = hero_df.copy()
gender_df = gender_df[["SN", "Gender"]]
gender_df.drop_duplicates(keep = "first", inplace = True)
gender_count = gender_df["Gender"].value_counts()
gender_percent = gender_count/player_count
gender_count_df = pd.DataFrame({"Count of Genders": gender_count, "Percent of Genders" : gender_percent})
gender_count_df["Percent of Genders"] = gender_count_df["Percent of Genders"].astype(float).map("{:,.2%}".format)
gender_count_df

                       Count of Genders Percent of Genders
Male                                484             84.03%
Female                               81             14.06%
Other / Non-Disclosed                11              1.91%