In [1]:
#Set up pandas
import pandas as pd

#file path to read in resource data
file_path = "../Resources/purchase_data.csv"

#creating a dataframe from the CSV
hero_df = pd.read_csv(file_path)
hero_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

Player Count

In [2]:
#find the number of unique players and then count the list
player_count = len(hero_df["SN"].unique())

#create the data frame to display player count
player_count_df = pd.DataFrame({"Player Count" : [player_count]})

#show the data frame below
player_count_df

   Player Count
0           576

Purchasing Analysis

- Number of Unique Items

- Average Purchase Price

- Total Number of Purchases

- Total Revenue

In [3]:
#find the number of unique items and then count the list
items_unique = len(hero_df["Item ID"].unique())

#find the average price of all items purchased
ave_purchase = hero_df["Price"].mean()

#count how many items were purchased
count_purchase = hero_df["Price"].count()

#find the total amount of money spent on items
sum_purchase = hero_df["Price"].sum()

#create the data frame with the above data
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items" : [items_unique], 
                                       "Average Purchase Price" : ave_purchase,
                                       "Number of Purchases" : count_purchase,
                                       "Total Revenue" : sum_purchase})

#format the 2 money columns
purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)

#show the generated data frame
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

Gender Demographics

- Percentage and Count of Male Players
- Percentage and Count of Female Players
- Percentage and Count of Other / Non-Disclosed

In [18]:
#create a copy of the original data for manipulation
gender_df = hero_df.copy()

#create a smaller data frame to modify
gender_df = gender_df[["SN", "Gender"]]

#remove 1 copy of all duplicate players
gender_df.drop_duplicates(keep = "first", inplace = True)

#count the number of each gender
gender_count = gender_df["Gender"].value_counts()

#find the percent of each gender
gender_percent = gender_count/player_count

#put the above calucations in a data frame 
gender_count_df = pd.DataFrame({"Count of Genders": gender_count, "Percent of Genders" : gender_percent})

#format the percent column
gender_count_df["Percent of Genders"] = gender_count_df["Percent of Genders"].astype(float).map("{:,.2%}".format)

#show the generated data frame
gender_count_df

                       Count of Genders Percent of Genders
Male                                484             84.03%
Female                               81             14.06%
Other / Non-Disclosed                11              1.91%

Purchasing Analysis (Gender)

- Purchase Count
- Average Purchase Price
- Total Purchase Value
- Average Purchase Total per Person by Gender

In [41]:
#create copy of the data frame to manipulate
gender_spend_df = hero_df.copy()

#group by gender to get specific totals
gender_spend_df = gender_spend_df.groupby(["Gender"])

#count items per gender
gender_purchase_count = gender_spend_df["Item ID"].count()

#find average perchase per gender
gender_average_purchase = gender_spend_df["Price"].mean()

#find total amount spent per gender
gender_total_purchase = gender_spend_df["Price"].sum()

#find the average total spent per gender based on unique number of players
gender_average_total = gender_total_purchase / gender_count

#create data frame to display above data
purchasing_analysis_gender_df = pd.DataFrame({"Purchase Count" : gender_purchase_count, 
                                             "Average Purchase Price" : gender_average_purchase,
                                             "Total Purchase Value" : gender_total_purchase,
                                             "Average Purchase Total per Person by Gender" : gender_average_total})

#format the money columns
purchasing_analysis_gender_df["Average Purchase Price"] = purchasing_analysis_gender_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_gender_df["Total Purchase Value"] = purchasing_analysis_gender_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchasing_analysis_gender_df["Average Purchase Total per Person by Gender"] = purchasing_analysis_gender_df["Average Purchase Total per Person by Gender"].astype(float).map("${:,.2f}".format)

#displaying data frame
purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56